@model ELearningPlatform.Models.User
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LayoutUser";
}

<form asp-controller="Account" asp-action="ForgotPassword" method="get">
    <div class="card mb-2">
        <div class="card-body">

            <p>Forgot your password? Type in your email address and we'll email you a link to reset it.</p>
            <div class="md-form">
                <input asp-for="Email" type="email" id="Email" class="form-control" placeholder="johnny@example.com">
                <label for="Email">Your email</label>
            </div>

        </div>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-default btn-sm mb-3 btn-block" value="Reset Password" />
        <span class="small-link">Already have an account?</span>
        <a asp-controller="Home" asp-action="Login" class="small-link"> Login</a>
    </div>
</form>

