@model ELearningPlatform.Models.User
@{
    ViewData["Title"] = "login";
    Layout = "_LayoutUser";
}

<form method="post" asp-controller="Account" asp-action="Login">
    <div class="card mb-2">
        <div class="card-body">
            <div class="md-form">
                <input asp-for="Email" type="text" id="Username" name="Username" class="form-control">
                <label for="Username">Username</label>
            </div>
            <div class="md-form">
                <input asp-for="Password" type="password" id="Password" name="Password" class="form-control">
                <label for="Password">Password</label>
            </div>
            <a asp-controller="Home" asp-action="ForgotPassword" class="small-link">oops, I forgot my password</a>
        </div>
    </div>
    <div class="text-center">
        <!--<a asp-controller="Account" asp-action="Login" class="btn btn-default btn-sm mb-3 btn-block">Login</a>-->
        <input type="submit" class="btn btn-default btn-sm mb-3 btn-block" value="Login" />
        <span class="small-link">Don't have an account?</span>
        <a asp-controller="Home" asp-action="SignUp" class="small-link">Sign up</a>
    </div>
</form>

