@model ELearningPlatform.Models.User
@using static ELearningPlatform.Data.TempDataHelper
@using ELearningPlatform.Models;
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_LayoutUser";
}

<form method="get" asp-controller="Account" asp-action="ResetPassword">
    <input type="hidden" asp-for="Id" value="@TempData[TempdataKeyIdUser]" />
    <div class="card mb-2">
        <div class="card-body">
            <div class="md-form">
                <input asp-for="Password" type="password" id="Password" name="Password" class="form-control">
                <label for="Username">New password</label>
            </div>
            <div class="md-form">
                <input asp-for="Password" type="password" id="Password" name="newPassword" class="form-control">
                <label for="Password">Type your password again</label>
            </div>
        </div>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-default btn-sm mb-3 btn-block" value="Login" />
    </div>
</form>

