@model ELearningPlatform.Models.User
@using static ELearningPlatform.Data.TempDataHelper
@{
    ViewData["Title"] = "SignUp";
    Layout = "_LayoutUser";
}

<form method="get" asp-controller="Account" asp-action="SignUp">
    <div class="card mb-auto">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger">@TempData[TempdataKeyErrorMessage]</div>
            <div class="md-form">
                <label asp-for="Email" id="Email"></label>
                <input asp-for="Email" class="form-control" for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="md-form">
                <label asp-for="Username" id="Username"></label>
                <input asp-for="Username" class="form-control" for="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="md-form">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="md-form">
                <label asp-for="IdCode" class="control-label">Select your choosen role</label>
                <select asp-for="IdCode">

                </select>
            </div>
        </div>
    </div>
    <div class="text-center mb-auto">
        <input type="submit" value="Create" class="btn btn-default btn-sm mb-3 btn-block" />
        <span class="small-link">Already have an account?</span>
        <a asp-controller="Home" asp-action="Login" class="small-link">Login</a>
    </div>
</form>

